altair==4.0.1
altgraph==0.17
asgiref==3.2.7
astor==0.8.1
attrs==19.3.0
autopep8==1.4.4
awesome-streamlit==20191018.1
awesome-streamlit-master==20200130.3
backcall==0.1.0
base58==2.0.0
bleach==3.1.0
blinker==1.4
boto3==1.9.96
botocore==1.12.96
branca==0.3.1
cachetools==4.1.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.1
colorama==0.4.3
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==2.2
django-allauth==0.39.1
django-countries==5.3.3
django-crispy-forms==1.7.2
django-debug-toolbar==1.10.1
django-heroku==0.3.1
django-storages==1.7.1
django-tailwind==0.7.1
djangorestframework==3.11.0
docutils==0.14
entrypoints==0.3
enum-compat==0.0.3
Flask==1.1.1
folium==0.9.1
future==0.18.2
geographiclib==1.50
geopy==1.20.0
glob2==0.7
gunicorn==19.9.0
idna==2.8
import-ipynb==0.1.3
ipykernel==5.2.0
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.3
joblib==0.14.1
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
kiwisolver==1.2.0
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.1.0
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notebook==5.7.8
numpy==1.18.3
oauthlib==3.0.1
opencv-python==4.1.0.25
packaging==20.3
pandas==0.24.2
pandas-datareader==0.8.1
pandocfilters==1.4.2
parso==0.7.0
pathtools==0.1.2
pefile==2019.4.18
pep8==1.7.1
pickleshare==0.7.5
Pillow==6.2.0
pipenv==2020.8.13
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.11.3
psycopg2==2.7.7
pycodestyle==2.5.0
pydeck==0.3.0b3
Pygments==2.6.1
PyInstaller==3.5
pyparsing==2.4.7
pyrsistent==0.15.2
python-dateutil==2.8.0
python-decouple==3.1
python3-openid==3.1.0
pytz==2018.5
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.5.1
requests==2.21.0
requests-oauthlib==1.2.0
s3transfer==0.2.0
scikit-learn==0.23.2
scipy==1.3.1
seaborn==0.11.0
Send2Trash==1.5.0
six==1.12.0
sklearn==0.0
sqlparse==0.2.4
streamlit==0.57.2
stripe==2.27.0
terminado==0.8.3
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.0
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.24.2
validators==0.14.2
virtualenv==16.7.0
virtualenv-clone==0.5.4
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==4.1.2
widgetsnbextension==3.4.2
xgboost==0.90
xlrd==1.2.0
